<div class="container">
    <div class="row">
    <section class="contact" id="contact">

        <h1 class="heading"> <span>contact</span> us </h1>
        
        <div class="icons-container">
        
            <div class="icons">
                <img src="/assets/images/icon-1.png" alt="">
                <h3>phone number</h3>
                <p>+212607503940</p>
                <p>+212607503940</p>
            </div>
        
            <div class="icons">
                <img src="/assets/images/icon-2.png" alt="">
                <h3>email address</h3>
                <p>Anas.oussous11@gmail.com</p>
                <p>Anas.oussous11@gmail.com</p>
            </div>
        
             <div class="icons">
                <img src="/assets/images/icon-3.png" alt="">
                <h3>office address</h3>
                <p>8, Av. Mohammed IQBAL-Amsernat - 80000</p>
            </div>
        
        </div>
        
        <div class="row">
        
            <form action="">
                <div class="inputBox">
                    <input type="email" placeholder="email">
                </div>
                <div class="inputBox">
                    
                    <input type="text" placeholder="subject">
                </div>
                <textarea name="" placeholder="message" id="" cols="30" rows="10"></textarea>
                <input type="submit" value="send message" class="btn_msg">
            </form>
        
            <iframe class="map" src="https://maps.google.com/maps?q=technoparc%20agadir&t=&z=15&ie=UTF8&iwloc=&output=embed" allowfullscreen="" loading="lazy"></iframe>
        
        </div>
        
        </section>
    </div>
</div>