@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@700&family=Poppins:wght@400;500;600&display=swap');


.home{
  min-height: 91.5vh;
  background:url(/assets/images/home-bg.jpg) no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
}
.center{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
  background: white;
  border-radius: 10px;
  box-shadow: 10px 10px 15px rgba(0,0,0,0.05);
}
.center h1{
  text-align: center;
  padding: 20px 0;
  border-bottom: 1px solid silver;
}
.center form{
  padding: 0 40px;
  box-sizing: border-box;
}
form .txt_field{
  position: relative;
  border-bottom: 2px solid #adadad;
  margin: 30px 0;
}
.txt_field input{
  width: 100%;
  padding: 0 5px;
  height: 40px;
  font-size: 16px;
  border: none;
  background: none;
  outline: none;
}
.txt_field label{
  position: absolute;
  top: 50%;
  left: 5px;
  color: #adadad;
  transform: translateY(-50%);
  font-size: 16px;
  pointer-events: none;
  transition: .5s;
}
.txt_field span::before{
  content: '';
  position: absolute;
  top: 40px;
  left: 0;
  width: 0%;
  height: 2px;
  background: #ff5a3c;
  transition: .5s;
}
.txt_field input:focus ~ label,
.txt_field input:valid ~ label{
  top: -5px;
  color: #ff5a3c;
}
.txt_field input:focus ~ span::before,
.txt_field input:valid ~ span::before{
  width: 100%;
}
.pass{
  margin: -5px 0 20px 5px;
  color: #a6a6a6;
  cursor: pointer;
}
.pass:hover{
  text-decoration: underline;
}
button{
  width: 100%;
  height: 50px;
  border: 1px solid;
  background: #ff5a3c;
  border-radius: 25px;
  font-size: 18px;
  color: #e9f4fb;
  font-weight: 700;
  cursor: pointer;
  outline: none;
}
button:hover{
  border-color: #ff5a3c;
  transition: .5s;
}
.signip_link{
  margin: 30px 0;
  text-align: center;
  font-size: 16px;
  color: #666666;
}
.signip_link a{
  color: #ff5a3c;
  text-decoration: none;
}
.signip_link a:hover{
  text-decoration: underline;
}


/**/
.auth {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.auth__title {
  font-size: 4.2rem;
  color: #328da8;
  margin-top: 4rem;
  margin-bottom: 1rem;
}
.auth__lead {
  font-size: 2.4rem;
  color: #47acad;
  margin-bottom: 2rem;
}
.auth__form__group {
  margin-bottom: 1rem;
}
.auth__form__input {
  font-size: 1.6rem;
  padding: 1rem 1.5rem;
  outline-color: #328da8;
}
.auth__form__button {
  font-size: 1.8rem;
  padding: 0.5rem 0;
  width: 80%;
  margin-left: 10%;
  background-color: #fff;
  color: #328da8;
  border: 0.1rem solid #328da8;
  border-radius: 0.5rem;
  cursor: pointer;
  margin-top: 1rem;
  margin-bottom: 2rem;
  outline: none;
}
.auth__form__button:hover {
  color: #fff;
  background-color: #328da8;
}
.auth__authtext {
  font-size: 1.6rem;
  color: #4a4a4a;
}
.auth__authtext__link {
  text-decoration: none;
  color: #328da8;
}
.auth__authtext__link:hover {
  color: #ccc;
}
.pass{
    margin: -5px 0 20px 5px;
    color: #a6a6a6;
    cursor: pointer;
  }
  .pass:hover{
    text-decoration: underline;
  }
  input[type="submit"]{
    width: 100%;
    height: 50px;
    border: 1px solid;
    background: #ff5a3c;
    border-radius: 25px;
    font-size: 18px;
    color: #e9f4fb;
    font-weight: 700;
    cursor: pointer;
    outline: none;
  }
  input[type="submit"]:hover{
    border-color: #ff5a3c;
    transition: .5s;
  }
  .signin_link{
    margin: 30px 0;
    text-align: center;
    font-size: 16px;
    color: #666666;
  }
  .signin_link a{
    color: #ff5a3c;
    text-decoration: none;
  }
  .signin_link a:hover{
    text-decoration: underline;
  }